.img-circle{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card-img-top {
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}


.main-body{
    display: grid;
    height: 100vh;
    grid-template-areas: "aside" "main";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
}
