.bg-color {
    background-color: #198754;
}

.white-text {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.green-text {
    color:#198754;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
